<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="styles.css" />
    <title>Centre hospitaliers et medicaux</title>
    <link
      rel="stylesheet"
      th:href="@{https://unpkg.com/leaflet@1.9.4/dist/leaflet.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css}"
    />
    <link rel="stylesheet" th:href="@{/css/map.css}" />
  </head>
  <body>
    <header>
      <nav></nav>
    </header>

    <main>
      <div id="map"></div>
    </main>

    <footer></footer>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    <script>
      let map = L.map("map", {
        center: [-18.8934916, 47.5584519],
        zoom: 10,
      });

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: "© OpenStreetMap",
      }).addTo(map);

      fetch("/geojson/info_centre.geojson")
        .then((response) => response.json())
        .then((data) => {
          L.geoJSON(data, {
            pointToLayer: function (feature, latlng) {
              return L.circleMarker(latlng, {
                radius: 8,
                color: "red",
                fillColor: "orange",
                fillOpacity: 1,
              });
            },
            onEachFeature: function (feature, layer) {
              layer.bindPopup(
                "<b>" +
                  feature.properties.name +
                  "</b><br>" +
                  feature.properties.amenity,
              );
            },
          }).addTo(map);
        });
    </script>
  </body>
</html>
